.main {

position: absolute;
width: 680px;
height: 1737px;
left: calc(50% - 680px/2);
bottom: 73px;

background: #E2E3EF;
border: 1px solid #FB0E63;
box-sizing: border-box;
box-shadow: 20px 20px 250px rgba(0, 0, 0, 0.25);
}

body {
position: relative;
width: 964px;
height: 2000px;

background: #3DD0FF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
